<?xml version="1.0"?>
<!--
/**
 * JScriptz_MegaMenu2 extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this @@package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category   	JScriptz
 * @@@package		JScriptz_MegaMenu2
 * @copyright  	Copyright (c) 2013
 * @license		http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
	<modules>
		<JScriptz_MegaMenu2>
			<version>1.8.1.8</version>
		</JScriptz_MegaMenu2>
	</modules>
	<global>
		<resources>
			<jscriptz_megamenu2_setup>
				<setup>
					<module>JScriptz_MegaMenu2</module>
					<class>JScriptz_MegaMenu2_Model_Resource_Setup</class>
				</setup>
			</jscriptz_megamenu2_setup>
		</resources>
		<blocks>
			<page>
	        	<rewrite>
	            	<html_topmenu>JScriptz_MegaMenu2_Block_Html_Topmenu</html_topmenu>
	        	</rewrite>
   			 </page>
			<megamenu2>
				<class>JScriptz_MegaMenu2_Block</class>
			</megamenu2>
		</blocks>
		<helpers>
			<megamenu2>
				<class>JScriptz_MegaMenu2_Helper</class>
			</megamenu2>
		</helpers>
		<models>
			<megamenu2>
				<class>JScriptz_MegaMenu2_Model</class>
				<resourceModel>megamenu2_resource</resourceModel>
			</megamenu2>
			<megamenu2_options>
				<class>JScriptz_MegaMenu2_Model_SystemSettings</class>
				<resourceModel>megamenu2_resource</resourceModel>
			</megamenu2_options>
			<megamenu2_resource>
				<class>JScriptz_MegaMenu2_Model_Resource</class>
				<entities>
					<menuitem>
						<table>megamenu2_menuitem</table>
					</menuitem>
					<menuitem_store>
						<table>megamenu2_menuitem_store</table>
					</menuitem_store>
					<menusetting>
						<table>megamenu2_menusetting</table>
					</menusetting>
					<menusetting_store>
						<table>megamenu2_menusetting_store</table>
					</menusetting_store>
					<menuitem_menusetting>
						<table>megamenu2_menuitem_menusetting</table>
					</menuitem_menusetting>
					<menusetting_menuitem>
						<table>megamenu2_menuitem_menusetting</table>
					</menusetting_menuitem>
					<menuitem_product>
						<table>megamenu2_menuitem_product</table>
					</menuitem_product>
					<menusetting_product>
						<table>megamenu2_menusetting_product</table>
					</menusetting_product>
				</entities>
			</megamenu2_resource>
		</models>
	</global>
	<frontend>
			<layout>
			<updates>
				<jscriptz_megamenu2>
					<file>jscriptz_megamenu2.xml</file>
				</jscriptz_megamenu2>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<jscriptz_megamenu2>
					<file>jscriptz_megamenu2.xml</file>
				</jscriptz_megamenu2>
			</updates>
		</layout>
		<translate>
			<modules>
				<JScriptz_MegaMenu2>
					<files>
						<default>JScriptz_MegaMenu2.csv</default>
					</files>
				</JScriptz_MegaMenu2>
			</modules>
		</translate>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<menuitem>
						<type>singleton</type>
						<class>megamenu2/adminhtml_observer</class>
						<method>addMenuitemBlock</method>
					</menuitem>
				</observers>
			</core_block_abstract_prepare_layout_after>
			<catalog_product_save_after>
				<observers>
					<menuitem>
						<type>singleton</type>
						<class>megamenu2/adminhtml_observer</class>
						<method>saveMenuitemData</method>
					</menuitem>
				</observers>
			</catalog_product_save_after>
		</events>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<menusetting>
						<type>singleton</type>
						<class>megamenu2/adminhtml_observer</class>
						<method>addMenusettingBlock</method>
					</menusetting>
				</observers>
			</core_block_abstract_prepare_layout_after>
			<catalog_product_save_after>
				<observers>
					<menusetting>
						<type>singleton</type>
						<class>megamenu2/adminhtml_observer</class>
						<method>saveMenusettingData</method>
					</menusetting>
				</observers>
			</catalog_product_save_after>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<JScriptz_MegaMenu2 before="Mage_Adminhtml">JScriptz_MegaMenu2_Adminhtml</JScriptz_MegaMenu2>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<megamenu2>
		</megamenu2>
	</default>
</config>
